services:
  app:
    container_name: saas-app
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
    networks:
      - appnet

  nginx:
    image: nginx:stable
    container_name: saas-nginx
    ports:
      - "80:80"
      - "8000:8000"

    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - appnet

  mysql:
    image: mysql:8.0
    container_name: saas-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: appuser
      MYSQL_PASSWORD: appsecret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: saas-phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - appnet

  node:
      image: node:20
      container_name: saas-node-app
      working_dir: /var/www/html
      volumes:
        - .:/var/www/html
      ports:
        - "5173:5173"   # Vite dev server
      command: >
        sh -lc "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
      networks:
        - appnet

volumes:
  db_data:

networks:
  appnet:
    driver: bridge
